{% extends 'base.html.twig' %}

{% block title %} MeetMyDoc - Inscription {% endblock %}

{% block body %}


  <div class="card mb-3">
    <h3 style="text-align: center;"> Inscrivez-vous: </h3>
    <div class="card-body">
      <div class="row">
        <div class="col-10 offset-1">
           <h4>Veuillez saisir les données</h4>
           {{form_start(formulaire, {'attr': {'novalidate': 'novalidate'}})}}
        </div>
        <div class="col-5 offset-1">
              {{form_row(formulaire.prenom,{'attr': {'placeholder': 'Prénom'}})}}
        </div>
        <div class="col-5">
              {{form_row(formulaire.nom,{'attr': {'placeholder': 'Nom'}})}}
        </div>
        <div class="col-10 offset-1">
              {{form_row(formulaire.email,{'attr': {'placeholder': 'Email'}})}}
              {{form_row(formulaire.password.first,{'attr': {'placeholder': 'Mot de Passe'}})}}
              {{form_row(formulaire.password.second,{'attr': {'placeholder': 'Confirmer Mot de Passe'}})}}
              {{form_row(formulaire.telephone,{'attr': {'placeholder': 'Telephone'}})}}
              {{form_row(formulaire.adresse,{'attr': {'placeholder': 'Adresse'}})}}
              {{form_row(formulaire.complementAdresse,{'attr': {'placeholder': 'Complément Adresse'}})}}
              {{form_row(formulaire.codePostal,{'attr': {'placeholder': 'Code Postal'}})}}
              {{form_row(formulaire.ville,{'attr': {'placeholder': 'Ville'}})}}
              {#{form_row(formulaire.sexe)}#}
              <button class="btn btn-primary btn-block" type="submit"> s'inscrire </button>
           {{form_end(formulaire)}}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block footer %}{% endblock %}