{% extends 'base.html.twig' %}

{% block title %}Medecin{% endblock %}

{% block body %}
    <h1>Medecin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medecin.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ medecin.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ medecin.roles ? medecin.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ medecin.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ medecin.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ medecin.prenom }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ medecin.dateNaissance ? medecin.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ medecin.sexe }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ medecin.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ medecin.adresse }}</td>
            </tr>
            <tr>
                <th>ComplementAdresse</th>
                <td>{{ medecin.complementAdresse }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ medecin.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ medecin.ville }}</td>
            </tr>
            <tr>
                <th>IdNational</th>
                <td>{{ medecin.idNational }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('medecin_index') }}">back to list</a>

    <a href="{{ path('medecin_edit', {'id': medecin.id}) }}">edit</a>

    {{ include('medecin/_delete_form.html.twig') }}
{% endblock %}
