{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><a class="btn btn-primary"  href="{{path('meet_my_doc_patient_afficher_creneaux',{'email': medecin.email, debut : semaineCourante - 1 })}}" ><i class="fa fa-chevron-left"></i></a>&nbsp;</th>
                            <th><select><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></th>
                            <th><a class="btn btn-primary"  href="{{path('meet_my_doc_patient_afficher_creneaux',{'email': medecin.email, debut : semaineCourante + 1 })}}" ><i class="fa fa-chevron-right"></i></a></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <h1> Calendrier du Dr. {{medecin.prenom}} {{medecin.nom}} ({{medecin.specialite.nom}})</h1>

    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Jours</th>
                            <th>Horaires</th>
                        </tr>
                    </thead>
                    <tbody>
                      {# Init #}
                        {% set jourPrecedent = "null" %}
                        {% set debutJour = true %}
                        {% set nbElem = 0 %}

                      {# Traitements #}
                        {# debut FOR #}
                          {% for creneauCourant in creneaux %}
                            {# Définir le jour courant du créneau #}
                              {% set jourCourant = creneauCourant.dateRDV | date('D') %}

                            {# Vérifier qu'il y a un jour qui a été saisie #}
                              {% if jourPrecedent != jourCourant or jourPrecedent == "null" %}
                                {# Fermeture des balises précédentes #}
                                  {% if nbElem != 4 %}
                                          </tr>
                                  {% endif %}
                                        </tbody>
                                      </table>
                                    </div>
                                  </td>
                                </tr>

                                {# Définir le debut du jour à vrai #}
                                  {% set debutJour = true %}
                                  {% set nbElem = 0 %}
                              {% endif %}

                            {# Démarer la nouvelle Journée #}
                              {% set dateExacte = creneauCourant.dateRDV | date('d/m') %}
                              {% if debutJour == true %}
                                <tr>
                                  <td>
                                    {% if jourCourant == 'Mon' %}
                                      Lundi {{dateExacte}}
                                    {% elseif jourCourant == 'Tue' %}
                                      Mardi {{dateExacte}}
                                    {% elseif jourCourant == 'Wed' %}
                                      Mercredi {{dateExacte}}
                                    {% elseif jourCourant == 'Thu' %}
                                      Jeudi {{dateExacte}}
                                    {% elseif jourCourant == 'Fri' %}
                                      Vendredi {{dateExacte}}
                                    {% elseif jourCourant == 'Sat' %}
                                      Samedi {{dateExacte}}
                                    {% endif %}
                                  </td>
                                    <td>
                                      <div class="table-responsive">
                                        <table class="table">
                                          <tbody>

                                {% set debutJour = false %}
                                {% set debutLigne = false %}
                              {% endif %}

                            {# Démarer le début de la ligne permettant d'afficher les créneaux #}
                              {% if debutLigne == true %}
                                <tr>
                                {% set debutLigne = false %}
                                {% set nbElem = 0 %}
                              {% endif %}

                            {# Ajout du créneau #}
                              <td style="width: 136px;">
                                {% if creneauCourant.etat == "NON PRIS"%}
                                    <button class="btn btn-primary" type="button" onclick="demanderConfirmation('{{creneauCourant.dateRDV | date('d/m')}}-{{creneauCourant.heureDebut | date('H:i')}}', '{{medecin.nom}}', '{{creneauCourant.id}}')"> {{creneauCourant.heureDebut | date('H:i')}} </button>
                                {% else %}
                                    <button class="btn btn-danger" type="button" onclick="afficherMessage('{{creneauCourant.dateRDV | date('d/m')}}-{{creneauCourant.heureDebut | date('H:i')}}', '{{medecin.nom}}', '{{creneauCourant.id}}')"> {{creneauCourant.heureDebut | date('H:i')}} </button>
                                {% endif %}
                              </td>

                            {# Incrémenter le nombre d'éléments #}
                              {% set nbElem = nbElem + 1 %}

                            {# Définif le jour Précédent pour le prochain tour de boucle #}
                              {% set jourPrecedent = jourCourant %}

                            {# Vérifier qu'ont est pas en fin de ligne #}
                              {% if nbElem == 4 %}
                                </tr>
                                {% set debutLigne = true %}
                              {% endif %}

                          {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
  {% endblock %}



  {% block javascripts %}

    <script>
      function demanderConfirmation(dateHeure, nomMedecin, id){
        let date = dateHeure.split("-")[0]; //Récupération de la date du créneau
        let heure = dateHeure.split("-")[1]; //Récupération de l'heure du créneau

        //Traitements
          if(confirm('Etes vous sûr de vouloir prendre un rendez-vous avec le Dr. ' + nomMedecin + ' le ' + date + ' à ' + heure)){
            //Rediriger vers la page permettant de valider de le RDV et d'afficher le récapitulatif
              let url = "{{path('meet_my_doc_patient_prendre_rdv')}}";
              url += '-' + id;

              document.location.href = url;
          }
          else {
            alert('Demande de rendez-vous annulé, veuillez choisir un autre créneau s\'il vous plait');
          }
      }

      function afficherMessage(dateHeure, nomMedecin, id){
        let date = dateHeure.split("-")[0]; //Récupération de la date du créneau
        let heure = dateHeure.split("-")[1]; //Récupération de l'heure du créneau

        //Traitements
          alert('Ce rendez-vous avec le Dr. ' + nomMedecin + ' le ' + date + ' à ' + heure + ' est déja pris');

      }
    </script>

  {% endblock %}
