{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><a class="btn btn-primary"  href="{{path('meet_my_doc_patient_afficher_creneaux',{'email': medecin.email, debut : semaineCourante - 1 })}}" ><i class="fa fa-chevron-left"></i></a>&nbsp;</th>
                            <th><select><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></th>
                            <th><a class="btn btn-primary"  href="{{path('meet_my_doc_patient_afficher_creneaux',{'email': medecin.email, debut : semaineCourante + 1 })}}" ><i class="fa fa-chevron-right"></i></a></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <h1> Calendrier du Dr. {{medecin.prenom}} {{medecin.nom}} ({{medecin.specialite.nom}})</h1>

    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Jours</th>
                            <th>Horaires</th>
                        </tr>
                    </thead>
                    <tbody>
                      {# Variable #}
                        {% set datePremierRDV = true %}
                        {% set dateExacte = null %}


                      {# Traitements #}
                        {# Affichage des différents jours #}
                          {% for jour in joursRef %}

                              {# Init #}
                                {% set leJourExiste = false %}
                                {% set debutJour = true %}
                                {% set nbElem = 0 %}
                                {% if datePremierRDV == false %}
                                {% set dateExacte = dateExacte|date_modify("+1 day")%}

                                {% endif %}

                              {# Commencer l'ouverture des balises du jour #}
                                  <tr>
                                    <td> {% if jour == 'Mon'%}
                                            Lundi
                                          {% elseif jour == 'Tue' %}
                                            Mardi
                                          {% elseif jour == 'Wed' %}
                                            Mercredi
                                          {% elseif jour == 'Thu' %}
                                            Jeudi
                                          {% elseif jour == 'Fri' %}
                                            Vendredi
                                          {% elseif jour == 'Sat' %}
                                            Samedi
                                          {% elseif jour == 'Sun' %}
                                            Dimanche
                                          {% endif %}


                              {# debut FOR #}
                                {% for creneauCourant in creneaux %}
                                  {# Définir la date exacte du créneau #}
                                    {% if datePremierRDV == true %}
                                      {% set dateExacte = creneauCourant.dateRDV %}
                                      {% set datePremierRDV = false %}
                                    {% endif %}

                                  {# Définir jour courant #}
                                    {% set jourCourant = creneauCourant.dateRDV | date('D') %}

                                    {% if jourCourant == jour %}
                                        {# Définir qu'on est bien rentré dans le if #}
                                          {% set leJourExiste = true %}

                                        {# Continuer l'ouverture des balises du jour #}
                                          {% if debutJour == true %}
                                              {{dateExacte | date('d/m')}} </td>
                                                <td>
                                                  <div class="table-responsive">
                                                    <table class="table">
                                                      <tbody>
                                              {% set debutJour = false %}
                                              {% set debutLigne = true %}
                                          {% endif %}

                                        {# Démarer le début de la ligne permettant d'afficher les créneaux #}
                                          {% if debutLigne == true %}
                                            <tr>
                                            {% set debutLigne = false %}
                                            {% set nbElem = 0 %}
                                          {% endif %}

                                        {# Ajout du créneau #}
                                          <td style="width: 136px;">
                                            {% if creneauCourant.etat == "NON PRIS"%}
                                                <button class="btn btn-primary" type="button" onclick="demanderConfirmation('{{creneauCourant.dateRDV | date('d/m')}}-{{creneauCourant.heureDebut | date('H:i')}}', '{{medecin.nom}}', '{{creneauCourant.id}}')"> {{creneauCourant.heureDebut | date('H:i')}} </button>
                                            {% else %}
                                                <button class="btn btn-danger" type="button" onclick="afficherMessage('{{creneauCourant.dateRDV | date('d/m')}}-{{creneauCourant.heureDebut | date('H:i')}}', '{{medecin.nom}}', '{{creneauCourant.id}}')"> {{creneauCourant.heureDebut | date('H:i')}} </button>
                                            {% endif %}
                                          </td>

                                        {# Incrémenter le nombre d'éléments #}
                                          {% set nbElem = nbElem + 1 %}

                                        {# Vérifier qu'ont est pas en fin de ligne #}
                                          {% if nbElem == 4 %}
                                            </tr>
                                            {% set debutLigne = true %}
                                          {% endif %}

                                      {% endif %}

                                {% endfor %}

                              {% if leJourExiste == false %}
                                {# Continuer l'ouverture des balises du jour #}
                                  {{dateExacte | date('d/m') }} </td>
                                    <td>
                                      <div class="table-responsive">
                                        <table class="table">
                                          <tbody>

                              {% endif %}

                              {# Fermeture des balises précédentes #}
                                {% if nbElem != 4 %}
                                        </tr>
                                {% endif %}
                                      </tbody>
                                    </table>
                                  </div>
                                </td>
                              </tr>


                            {# Définir nbElem à 0 #}
                              {% set nbElem = 0 %}

                        {# Fin boucle des jours #}
                          {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

  {% endblock %}



  {% block javascripts %}

    <script>
      function demanderConfirmation(dateHeure, nomMedecin, id){
        let date = dateHeure.split("-")[0]; //Récupération de la date du créneau
        let heure = dateHeure.split("-")[1]; //Récupération de l'heure du créneau

        //Traitements
          if(confirm('Etes vous sûr de vouloir prendre un rendez-vous avec le Dr. ' + nomMedecin + ' le ' + date + ' à ' + heure)){
            //Rediriger vers la page permettant de valider de le RDV et d'afficher le récapitulatif
              let url = "{{path('meet_my_doc_patient_prendre_rdv')}}";
              url += '-' + id;

              document.location.href = url;
          }
          else {
            alert('Demande de rendez-vous annulé, veuillez choisir un autre créneau s\'il vous plait');
          }
      }

      function afficherMessage(dateHeure, nomMedecin, id){
        let date = dateHeure.split("-")[0]; //Récupération de la date du créneau
        let heure = dateHeure.split("-")[1]; //Récupération de l'heure du créneau

        //Traitements
          alert('Ce rendez-vous avec le Dr. ' + nomMedecin + ' le ' + date + ' à ' + heure + ' est déja pris');

      }
    </script>

  {% endblock %}
