{% extends 'base.html.twig' %}

{% block title %} MeetMyDoc {% endblock %}

{% block body %}

  <div class="row">
    <div class="col col-xs-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
    <div class="cadreForm" style=" border: solid 1px; border-radius: 3px; border-color: #BDBDBD; padding: 1rem;background-color:white;">
      <h1>Recherche de médecin</h1>
      {{form_start(formulaire, {'attr': {'novalidate': 'novalidate'}})}}

        {{form_row(formulaire.specialite)}}
        {{form_row(formulaire.nom)}}
        {{form_row(formulaire.ville)}}

        <button type="submit" name="button" class="btn btn-primary">Valider</button>

      {{form_end(formulaire)}}
      </div>
    </div>
  </div>
  {% endblock %}
