{% extends 'base.html.twig' %}

{% block body %}


{{form_start(vueFormulaire)}}

    {{form_row(vueFormulaire.dateRDV)}}
    {{form_row(vueFormulaire.heureDebut)}}
    {{form_row(vueFormulaire.heureFin)}}
    {{form_row(vueFormulaire.duree)}}
    <button type="submit" name="button">Valider</button>

{{form_end(vueFormulaire)}}



{% endblock %}
