{% extends 'base.html.twig' %}

{% block title %} MeetMyDoc {% endblock %}

{% block body %}

  <div class="row">
            <div class="col col-xs-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
                <h1>Mon profil</h1>
                <h2>{{app.user.nom}} {{app.user.prenom}}</h2>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Date de naissance</h4>
                        <h6 class="text-muted card-subtitle mb-2">{{app.user.dateNaissance | date('d/m/Y')}}</h6>
                        <h4 class="card-title">Email</h4>
                        <h6 class="text-muted card-subtitle mb-2">{{app.user.email}}</h6>
                        <h4 class="card-title">Telephone</h4>
                        <h6 class="text-muted card-subtitle mb-2">{{app.user.telephone}}</h6>
                        <h4 class="card-title">Adresse</h4>
                        <h6 class="text-muted card-subtitle mb-2">{{app.user.adresse}}</h6>
                        <h4 class="card-title">Complément</h4>
                        <h6 class="text-muted card-subtitle mb-2">{{app.user.complementAdresse}}</h6>
                        <h4 class="card-title">Code Postale</h4>
                        <h6 class="text-muted card-subtitle mb-2">{{app.user.codePostal}}</h6>
                        <h4 class="card-title">Ville</h4>
                        <h6 class="text-muted card-subtitle mb-2">{{app.user.ville}}</h6>
                        <h4 class="card-title">Moyen de notification</h4>
                        <h6 class="text-muted card-subtitle mb-2">Par email</h6>
                        <a class="btn btn-primary"  href="{{path('app_modifier_patient',{email: app.user.email})}}">Modifier mon profil</a>
                    </div>
                </div>
            </div>
        </div>

  {% endblock %}
