{% extends 'base.html.twig' %}

{% block title %} MeetMyDoc {% endblock %}

{% block body %}

  <div class="row">
            <div class="col col-xs-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
                <h1>Mon profil</h1>
                <h2>{{patient.nom}} {{patient.prenom}}</h2>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Groupe sanguin:</h4>
                          {% if dossierPatient.groupeSanguin != null %}
                            <h6 class="text-muted card-subtitle mb-2">{{dossierPatient.groupeSanguin.nom}}</h6>
                          {% else %}
                          <h6 class="text-muted card-subtitle mb-2">Groupe sanguin non renseigner</h6>
                          {% endif %}
                        <h4 class="card-title">Email</h4>
                          {% for allergie  in dossierPatient.allergies %}
                            <h6 class="text-muted card-subtitle mb-2">{{allergie.nom}}</h6>
                          {% else %}
                            <h6 class="text-muted card-subtitle mb-2">Aucune allergie</h6>
                          {% endfor %}
                        <h4 class="card-title">Telephone</h4>
                          {% for maladieGrave in dossierPatient.maladiesGraves %}
                            <h6 class="text-muted card-subtitle mb-2">{{maladieGrave.nom}}</h6>
                          {% else %}
                            <h6 class="text-muted card-subtitle mb-2">Aucune maladie</h6>
                          {% endfor %}
                        <h4 class="card-title">Adresse</h4>
                          {% for vaccin in dossierPatient.vaccins %}
                            <h6 class="text-muted card-subtitle mb-2">{{vaccin.nom}}</h6>
                          {% else %}
                            <h6 class="text-muted card-subtitle mb-2">Aucun Vaccin</h6>
                          {% endfor %}

                        <a class="btn btn-primary"  href="{{path('app_modifier_patient',{email: app.user.email})}}">Modifier mon profil</a>
                    </div>
                </div>
            </div>
        </div>

  {% endblock %}
